.button {
    padding: 16px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #318e86;
    color: #fff;

    &:hover {
        background-color: #3eb3a9;
    }

    &:active {
        background-color: #1c4d43;
    }
}